:root {
    --bg-col: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px   ;
    width: 100%;
}

.imgBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgBlock p {
    margin: 5px 50px;
    display: none;
}

.mainImg {
    width: clamp(30vw, 200px, 90vw);
}